.footer {
    background-color: var(--button-hover);
    color: var(--color1);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  