.para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
